# macOS specific files
.DS_Store

# Xcode specific files
*.xcuserdata/
*.xcscmblueprint/
*.xcworkspacedata/
*.xcworkspace/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/
build/
DerivedData/